@import url(https://fonts.google.com/specimen/Kanit);

body {
    background: #082567;
    font-family: 'Kanit', monospace;
}

h1 {
    color: #FFFFFF;
}

.container {
    color: #FFFFFF;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
}

.navbar {
    position: fixed;
    bottom: 0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.cursor_shape1 {
    cursor: auto;
}

ul {
    display: inline-block;
    list-style: none;
}

li {
    float: left;
}

img {
    display: block;
    padding: 8px;
    background-color: #082567
}

.logo {
    width:40px;
    height:40px;
    padding: 5px;
    margin: 5px;
}

img.logo:hover {
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px rgba(2, 2, 2, 1);
    transition: background-color 5s border-radius 5s box-shadow 5s;
}

.centered {
    margin-left: 200px;
    margin-right: 200px;
}

.fade-in {
    animation: fadeIn 5s;
}

a {
    text-decoration:none;
}

.word {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}

a.word:hover {
    color: rgba(123,123,123,1);;
    font-weight: 800;
    text-shadow: 2px 2px rgba(1, 1, 1, 1);
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
